<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WF_Chapter19.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WF_Chapter19.Settings>
            <setting name="AdventureWorksConnectionString" serializeAs="String">
                <value>Data Source=SVR01\SQL8R2;Initial Catalog=AdventureWorks;Integrated Security=True</value>
            </setting>
        </WF_Chapter19.Settings>
    </applicationSettings>
</configuration>